<div class="form-branch">
    <label class="col-sm-12">
        <div class="form-group">
            Title:
            <input type="text" class="form-control" [value]="branch?.title" [(ngModel)]="branch.title" [disabled]="isLoading" required>
        </div>
    </label>
    <br>
    <label class="col-sm-12">
        <div class="form-group">
            Description:
            <textarea type="text" class="form-control" [value]="branch?.desc" [(ngModel)]="branch.desc" [disabled]="isLoading"></textarea>
        </div>
    </label>
    
    <div class="btns text-right">
        <button class="btn btn-success" *ngIf="adminMode == 'edit-mode'" (click)="saveChanges()" [disabled]="isLoading">{{isLoading ? 'Saving..' : 'Save'}}</button>
        <button class="btn btn-secondary" *ngIf="adminMode == 'edit-mode' " (click)="switchAdminMode('detail-mode')" [disabled]="isLoading">Back to details</button>
        <button class="btn btn-success" *ngIf="adminMode == 'add-mode' " (click)="onCreateBranch()" [disabled]="isLoading">{{isLoading ? 'Creating branch...' : 'Create branch' }}</button>
    </div>
</div>