<a [routerLink]="'/items/'+item?.id" routerLinkActive="active" class="list-group-item d-flex" (click)="onClickItem()" *ngIf="showAs == 'list-group-item' ">
    <span>{{item?.title}}</span>
</a>

<div class="item mx-auto col-md-6X col-lg-4X">
    <div class="header" *ngIf="showAs != 'table' ">
        <h4 class="alert alert-primary text-center" *ngIf="adminMode == 'detail-mode' " title>Show item: {{item?.title}}</h4>
        <h4 class="alert alert-primary text-center" *ngIf="adminMode == 'edit-mode' " title>Edit item: {{item?.title}}</h4>
        <h4 class="alert alert-primary text-center" *ngIf="adminMode == 'add-mode' " title>Add item</h4>
    </div>

    <div class="admin-btns form-group text-right">
        <button class="btn btn-warning" *ngIf="adminMode == 'detail-mode' " (click)="switchAdminMode('edit-mode')" [disabled]="isLoading">Edit</button>
        <button class="btn btn-danger" *ngIf="adminMode == 'detail-mode' " (click)="deleteItem()" [disabled]="isLoading">{{isLoading ? 'Please wait..' : 'Delete'}}</button>
        <button class="btn btn-primary" *ngIf="adminMode == 'detail-mode' && showAs == 'details' " (click)="navTo('/admin/items') " [disabled]="isLoading">Items</button>
    </div>
    <h3 class="text-center text-secondary" *ngIf="isLoading; else noLoading">Loading...</h3>
    <ng-template #noLoading>
        <div class="item-details" *ngIf="adminMode == 'detail-mode' ">
            <div class="row">
                <div class="col-sm-3">
                    <label for="">ID:</label>
                </div>
                <div class="col-sm-9">
                    <span class="x">{{item?.id}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label for="">Title:</label>
                </div>
                <div class="col-sm-9">
                    <span class="x">{{item?.title}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label for="">Desc:</label>
                </div>
                <div class="col-sm-9">
                    <span class="x">{{item?.desc}}</span>
                </div>
            </div>
        </div>
    </ng-template>
    <div class="editMode" *ngIf="adminMode == 'edit-mode' ">
        <app-edit-item [item]="item"></app-edit-item>
    </div>
    <div class="addMode" *ngIf="adminMode == 'add-mode' ">
        <app-edit-item></app-edit-item>
    </div>    
</div> <!-- END: SHOW AS DETAILS -->