<div class="container main" [ngSwitch]="showAs"> <!-- ngSwitch works only with divs, not ng-templates -->
    <!-- <pre>{{items | json}}</pre> -->
    <div class="row" *ngSwitchCase="'grid'">        
        <div class="col-md-6X">
            <h5 class="text-center my-3">Items {{selectedCat ? " in "+selectedCat.title : ""}}</h5>
            <div class="list-group" *ngIf="!loadingItems">
                <app-item *ngFor="let item of items" [item]="item" (click)="itemChanged(item)"></app-item>
            </div>
            <h3 *ngIf="loadingItems">LOADING..</h3>
            <router-outlet></router-outlet>
        </div><!-- END: col-lg-9 -->
    </div>    

    <div class="rowX" *ngSwitchCase="'table'">
        <div class="alert alert-primary text-center">
            <h5> <a routerLink="/admin">Control panel</a> > Items Management
                <button class="btn btn-primary float-right" (click)="onClkAddItem()">Add item</button>
            </h5>
        </div>
        <table class="table table-striped table-hover table-primary table-responsiveX table-sm table-darkX table-borderedX col-sm-12 mx-auto">
            <thead class="thead-dark">
                <tr class="">
                    <th scope="col"># - id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Desc</th>
                </tr>
            </thead>
            <tbody>
                    <h3 *ngIf="loadingItems">LOADING..</h3>
                    <tr *ngIf="items?.length == 0; else manyRows"><td colspan="3" class="text-center">No items.</td></tr>
                <ng-template #manyRows>
                    <tr *ngFor="let item of items; let i = index" (click)="onClkItem(item)">                    
                        <th scope="row">{{i+1}} - {{item.id}}</th>
                        <td>{{item.title}}</td>
                        <td>{{item.desc}}</td>
                    </tr>
                </ng-template>
            </tbody>
        </table>
    </div>
</div>

<!-- BOOTSTRAP 4 MODALs, SHOWS ON CATEGORY CLICK, CONTAINS FORM CONTROLS WITH CAT FIELDS -->
<app-modal [btns]="close-only">
    <h4 class="text-primary text-center" *ngIf="adminMode == 'detail-mode' " title>Show item: {{item?.title}}</h4>
    <h4 class="text-primary text-center" *ngIf="adminMode == 'edit-mode' " title>Edit item: {{item?.title}}</h4>
    <h4 class="text-primary text-center" *ngIf="adminMode == 'add-mode' " title>Add item</h4>
    <app-item [showAs]="'details'" body></app-item>
</app-modal>