<a [routerLink]="'/categories/'+category?.id" routerLinkActive="active" class="list-group-item d-flex" (click)="onClickCat()" *ngIf="showAs == 'list-group-item' ">
    <span>{{category?.title}}</span>
    <button class="btn btn-outline-warning ml-auto" (click)="onDelCat(category?.id)">Delete</button>
</a>

<!-- <pre>{{category | json}}</pre> -->

<div class="category" *ngIf="showAs == 'details' ">
    <div class="form-group text-right">
        <button class="btn btn-warning" *ngIf="!editMode && adminMode == 'edit' " (click)="editMode = true">Edit</button>
        <button class="btn btn-danger" *ngIf="!editMode && adminMode == 'edit' " (click)="deleteCategory()">Delete</button>
        <button class="btn btn-success" *ngIf="editMode" (click)="saveChanges()">Done</button>
    </div>
    <div class="category-details" *ngIf="!editMode && adminMode == 'edit' ">
        <div class="row">
                <div class="col-md-3">
                    <label for="">ID:</label>
                </div>
                <div class="col-md-9">
                    <span class="x">{{category?.id}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="">Title:</label>
                </div>
                <div class="col-md-9">
                    <span class="x">{{category?.title}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="">Desc:</label>
                </div>
                <div class="col-md-9">
                    <span class="x">{{category?.desc}}</span>
                </div>
            </div>
    </div>
   <div class="editMode" *ngIf="editMode && adminMode == 'edit' ">
        <app-edit-category [category]="category"></app-edit-category>
    </div>
    <div class="addMode" *ngIf="!editMode && adminMode == 'add' ">
        <app-edit-category></app-edit-category>
    </div>
</div> <!-- END: DETAILS VIEW -->