<div class="form-insurance">
    <label class="col-sm-12">
        <div class="form-group">
            Title:
            <input type="text" class="form-control" [value]="insurance?.title" [(ngModel)]="insurance.title" [disabled]="isLoading" required>
        </div>
    </label>
    <br>
    <label class="col-sm-12">
        <div class="form-group">
            Description:
            <textarea type="text" class="form-control" [value]="insurance?.desc" [(ngModel)]="insurance.desc" [disabled]="isLoading"></textarea>
        </div>
    </label>
    
    <div class="btns text-right">
        <button class="btn btn-success" *ngIf="adminMode == 'edit-mode'" (click)="saveChanges()" [disabled]="isLoading">{{isLoading ? 'Saving..' : 'Save'}}</button>
        <button class="btn btn-secondary" *ngIf="adminMode == 'edit-mode' " (click)="switchAdminMode('detail-mode')" [disabled]="isLoading">Back to details</button>
        <button class="btn btn-success" *ngIf="adminMode == 'add-mode' " (click)="onCreateInsurance()" [disabled]="isLoading">{{isLoading ? 'Creating insurance...' : 'Create insurance' }}</button>
    </div>
</div>