<div [ngClass]="{'showModal': show}" class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100 text-center" id="exampleModalLongTitle">
                    <ng-content select="[title]"></ng-content>                    
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"> 
                <ng-content select="[body]"></ng-content>
            </div><!-- ------------------------------------------------------------------------------- -->
            <div class="modal-footer" [ngSwitch]="btns">
                <ng-content select="[footer]"></ng-content>
                <!-- close-only(defalut), close-save, ok-only, ok-cancel, yes-no, delete-cancel -->
                <button type="button" class="btn btn-secondary" (click)="closeModal()" *ngSwitchCase=" 'close-only' ">Close</button>
                <button type="button" class="btn btn-secondary" (click)="closeModal()" *ngSwitchCase=" 'close-save' ">Close</button>
                <button type="button" class="btn btn-primary"    (click)="closeModal()" *ngSwitchCase=" 'close-save' ">Save changes</button>
                <button type="button" class="btn btn-dark" (click)="closeModal()" *ngSwitchCase=" 'ok-only' ">OK</button>
                <button type="button" class="btn btn-dark" (click)="closeModal()" *ngSwitchCase=" 'ok-cancel' ">OK</button>
                <button type="button" class="btn btn-secondary" (click)="closeModal()" *ngSwitchCase=" 'ok-cancel' ">Cancel</button>
                <button type="button" class="btn btn-success" (click)="closeModal()" *ngSwitchCase=" 'yes-no' ">Yes</button>
                <button type="button" class="btn btn-secondary" (click)="closeModal()" *ngSwitchCase=" 'yes-no' ">>No</button>
                <button type="button" class="btn btn-danger" (click)="closeModal()" *ngSwitchCase=" 'delete-cancel' ">Delete</button>
                <button type="button" class="btn btn-secondary" (click)="closeModal()" *ngSwitchCase=" 'delete-cancel' ">Cancel</button>
            </div>
        </div>
    </div>
</div>