<div class="edit-category">
    <label class="col-sm-12">
        <div class="form-group">
            Title:
            <input type="text" class="form-control" [value]="category?.title" [(ngModel)]="category.title" [disabled]="isLoading" required>
        </div>
    </label>
    <br>
    <label class="col-sm-12">
        <div class="form-group">
            Description:
            <textarea type="text" class="form-control" [value]="category?.desc" [(ngModel)]="category.desc" [disabled]="isLoading"></textarea>
        </div>
    </label>
</div>