<a [routerLink]="'/insurances/'+insurance?.id" routerLinkActive="active" class="list-group-insurance d-flex" (click)="onClickInsurance()" *ngIf="showAs == 'list-group-insurance' ">
    <span>{{insurance?.title}}</span>
    <button class="btn btn-outline-warning ml-auto" (click)="onDelInsurance(insurance?.id)" [disabled]="isLoading">{{isLoading ? 'Saving..' : 'Save'}}</button>
</a>

<!-- <pre>{{insurance | json}}</pre> -->

<div class="insurance" *ngIf="showAs == 'details' ">
    <div class="admin-btns form-group text-right">
        <button class="btn btn-warning" *ngIf="adminMode == 'detail-mode' " (click)="switchAdminMode('edit-mode')" [disabled]="isLoading">Edit</button>
        <button class="btn btn-danger" *ngIf="adminMode == 'detail-mode' " (click)="deleteInsurance()" [disabled]="isLoading">{{isLoading ? 'Deleting..' : 'Delete'}}</button>
        <button class="btn btn-success" *ngIf="adminMode == 'edit-mode' " (click)="saveChanges()" [disabled]="isLoading">{{isLoading ? 'Saving..' : 'Save'}}</button>
        <button class="btn btn-secondary" *ngIf="adminMode == 'edit-mode' " (click)="switchAdminMode('detail-mode')" [disabled]="isLoading">Cancel</button>
    </div>
    <div class="insurance-details" *ngIf="adminMode == 'detail-mode' ">
        <div class="row">
                <div class="col-sm-3">
                    <label for="">ID:</label>
                </div>
                <div class="col-sm-9">
                    <span class="x">{{insurance?.id}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label for="">Title:</label>
                </div>
                <div class="col-sm-9">
                    <span class="x">{{insurance?.title}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label for="">Desc:</label>
                </div>
                <div class="col-sm-9">
                    <span class="x">{{insurance?.desc}}</span>
                </div>
            </div>
    </div>
   <div class="editMode" *ngIf="adminMode == 'edit-mode' ">
        <app-edit-insurance [insurance]="insurance"></app-edit-insurance>
    </div>
    <div class="addMode" *ngIf="adminMode == 'add-mode' ">
        <app-edit-insurance></app-edit-insurance>
    </div>
</div> <!-- END: DETAILS VIEW -->